@page "/pessoa/cadastro"
@inject IRepository<Pessoa> repositoryPessoa
@inject NavigationManager navigationManager


<h3>Cadastrar Pessoa</h3>
@if (pessoas is not null)
{
    <FormPessoa Pessoa="pessoa" OnValidSubmit="Create" />

    <br />
    <p>Ao clicar no botão para cadastrar um item, é chamado um método que incrementa o Id atual e adiciona a nova pessoa na lista.</p>
}


@code {
    private Pessoa pessoa = new Pessoa();
    private List<Pessoa> pessoas;

    protected override async Task OnInitializedAsync()
    {
        pessoas = await repositoryPessoa.Get();
    }

    private async Task Create()
    {
        try
        {
            await repositoryPessoa.Add(pessoa);
            navigationManager.NavigateTo("pessoa");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }
}
